<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
  <title>Create New User</title>

</head>
<body>
<form th:action="@{/users}" th:object="${user}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" />
  </div>
  <div>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" />
  </div>

  <button type="submit">Save</button>
</form>

<a href="/users">Back to User List</a>

</body>
</html>





